html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*NavBar styling*/
.nav-div{
    border-bottom: 1px solid lightgray;
}
/*Home styling*/
body {
    margin-bottom: 60px;
}

.body-div{
    margin-top:3rem;
}

.create-button {
    padding: 1rem 0 !important;
}

/*Index page styling*/
.total-amount{
    border: 3px dashed lightgray;
    width:auto;
    height:auto;
    padding:3rem;
    border-radius: 10px;
    margin-bottom:2rem;
    justify-content:center;
}