body {
    background-color: #1C1E24;
    color: #f8f9fa;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: block;
    padding: 1rem 0;
}

.footer {
    bottom: 0;
    display: block;
    height: 3rem;
    justify-content: center;
    text-align: center !important;
}

/* Nav styling */
.nav {
    padding-top: 2rem;
}

.nav-link {
    color: var(--text-color) !important;
}

.active.home-link {
    border-bottom: 1px solid var(--indigo);
}

.active.transaction-link {
    border-bottom: 1px solid var(--pink);
}

.active.register-link {
    border-bottom: 1px solid var(--orange);
}

.active.summary-link {
    border-bottom: 1px solid var(--yellow) --;
}

.active.logout-link {
    border-bottom: 1px solid var(--indigo-muted);
}

.home-link:hover {
    border-bottom: 1px solid var(--indigo);
}

.transaction-link:hover {
    border-bottom: 1px solid var(--pink);
}

.register-link:hover {
    border-bottom: 1px solid var(--orange);
}

.summary-link:hover {
    border-bottom: 1px solid var(--yellow);
}

.logout-link:hover {
    border-bottom: 1px solid var(--indigo-muted);
}

/* Colors */
:root {
    --orange: #ff7e22;
    --yellow: #fca62a;
    --pink: #f57ad0;
    --purple: #673ece;
    --indigo: #5a43f1;
    --indigo-dark: #4509cf;
    --indigo-light: #969bf6;
    --indigo-muted: #f1f2fd;
    --text-color: #f8f9fa;
    --backgroud-color: #1C1E24;
    --light-greem: #8fec8f;
}

/* Transaction page styling */
.transactionview {
    padding-top: 2rem;
}

.alert {
    padding-top: 1rem;
}

.recordtransaction {
    padding: 2rem 0;
}

.transactionnote {
    padding-bottom: 1rem;
}

.records-Totals {
    border: 1px dashed var(--indigo-muted);
    border-radius: 5px;
    padding: 2rem;
}

.savings {
    color: var(--light-greem);
}

.spending {
    color: var(--orange);
}

.transactiontable {
    padding-top: 2rem !important;
}

td.credit {
    color: lightgreen;
}

td.debit {
    color: var(--orange);
}

.editLink {
    color: var(--text-color);
    text-decoration: none;
}

.editLink:hover {
    border-bottom: 3px solid var(--indigo-light);
    transition: transform .2s;
}

/* Login page styling */
.form-control {
    flex: 0 0 50% !important;
}

.loginform {
    padding: 2rem 0;
}

/* 404 page */
.notfoundPage {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

/* Summary view */
.summaryview {
    padding-top: 2rem;
}

.recordSummary {
    padding-top: 2rem;
}

.timerange {
    padding-bottom: 2rem;
}