{% extends "basetemplate.html" %} {% block title %}Edit{% endblock %} {% block
content %}
<div>
   <h1>Edit</h1>
   {% with messages = get_flashed_messages(category_filter=["error"]) %} {% if
   messages %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {%- for msg in messages %}
      <p>{{ msg }}</p>
      {% endfor -%}
      <button
         type="button"
         class="btn-close"
         data-bs-dismiss="alert"
         aria-label="Close"
      ></button>
   </div>
   {% endif %} {% endwith %}
   <form action="{{ url_for('edit', id=record.transactionId) }}" method="post">
      <div class="mb-3">
         <div class="row">
            <div class="col-lg-3">
               <label for="amount" class="form-label">Amount</label>
               <input
                  type="number"
                  name="amount"
                  id="amount"
                  class="form-control"
                  value="{{record.amount}}"
                  min="0"
               />
            </div>
            <div class="col-lg-1">
               <label for="type" class="form-label">Action</label>
               <select name="type" id="type">
                  <option value="Credit">Credit</option>
                  <option value="Debit">Debit</option>
               </select>
            </div>
            <div class="col-lg-1">
               <label for="tag" class="form-label">Tag</label>
               <select name="tag" id="tag">
                  <option value="Grocery">Grocery</option>
                  <option value="EatingOut">EatingOut</option>
                  <option value="Rent">Rent</option>
                  <option value="Electricity">Electricity</option>
                  <option value="Radio">Radio</option>
                  <option value="Internet">Internet</option>
                  <option value="Phone">Phone</option>
                  <option value="Extra">Extra</option>
                  <option value="Transportation">Transportation</option>
                  <option value="Books">Books</option>
                  <option value="onlineCourse">onlineCourse</option>
                  <option value="Medication">Medication</option>
                  <option value="Insurance">Insurance</option>
                  <option value="Savings">Savings</option>
                  <option value="Charity">Charity</option>
                  <option value="Loan">Loan</option>
               </select>
            </div>
         </div>
      </div>
      <div class="row transactionnote">
         <div class="col-lg-6">
            <label for="note" class="form-label">Note</label>
            <textarea
               class="form-control"
               id="note"
               rows="1"
               name="note"
               placeholder="{{record.note}}"
               maxlength="120"
            ></textarea>
         </div>
      </div>
      <input type="submit" class="btn btn-secondary" value="Update Record" />
   </form>
</div>
{% endblock %}
