{% extends "basetemplate.html" %} {% block title %} Summary {% endblock %}
{%block content %}
<div class="summaryview">
   <h1>Summary page</h1>
   {% with messages = get_flashed_messages(category_filter=["error"]) %} {% if
   messages %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <ul>
         {%- for msg in messages %}
         <p>{{ msg }}</p>
         {% endfor -%}
      </ul>
      <button
         type="button"
         class="btn-close"
         data-bs-dismiss="alert"
         aria-label="Close"
      ></button>
   </div>
   {% endif %} {% endwith %}
   <div class="row timeselector">
      <div class="col-lg-6">
         <form action="{{ url_for('summary')}}" method="post">
            <div class="mb-3">
               <div class="row">
                  <div class="col-lg-3">
                     <label for="startDate" class="form-label">From</label>
                     <input
                        type="date"
                        name="startDate"
                        id="startDate"
                        class="form-control"
                     />
                  </div>
                  <div class="col-lg-3">
                     <label for="endDate" class="form-label">Till</label>
                     <input
                        type="date"
                        name="endDate"
                        id="endDate"
                        class="form-control"
                     />
                  </div>
               </div>
            </div>
            <input
               type="submit"
               class="btn btn-secondary"
               value="Get Summary"
            />
         </form>
      </div>
      <div class="col-lg-6 records-Totals">
         <p>
            <span class="savings">Savings/Income(€):</span>
            {{record_summary.creditTotal}}
         </p>
         <p>
            <span class="spending">Spending(€):</span>
            {{record_summary.debitTotal}}
         </p>
      </div>
   </div>
   <div class="recordSummary">
      <h3 class="timerange">From:{{start_date}} - {{end_date}}</h3>
      <table class="table table-dark table-hover">
         <thead>
            <tr>
               <th scope="col">Id</th>
               <th scope="col">Amount</th>
               <th scope="col">Type</th>
               <th scope="col">Tag</th>
            </tr>
         </thead>
         <tbody>
            {% for summary in record_summary.records %}
            <tr>
               <td>{{ summary.recordId }}</td>
               <td>{{ summary.amount }}</td>
               <td>{{ summary.recordType }}</td>
               <td>{{ summary.recordTag }}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
{% endblock %}
